# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

# TypeScript cache
*.tsbuildinfo

# Vite
*.local

# Vercel
.vercel

# Next.js leftovers (unused)
.next/
/out/
/build
next-env.d.ts
